html {
  margin: 10px 24px 0 24px;
  background: black;
}

/* using the amber color for that CRT glow */
p {
  color: #FFB000;
  font-family: 'VT323', monospace;
  font-size: 36px;
  line-height: 110%;
  text-shadow: 0 0 3px #FFB000;
}

/* Separator between text and fake prompt. */
hr {
  border: none;
  border-top: 2px dotted #FFB000;
  color: #FFB000;
  height: 1px;
  width: 100%;
}

a {
  color: #FFB000;
}

a:visited {
  color: #FFB000;
  text-decoration: none;
}

a:hover {
  color: #FFB000;
  text-decoration: none;
}

a:active {
  color: #FFB000;
  text-decoration: none;
}

/* Blinking cursor */
span::after {
  content: '_';
  opacity: 0;
  animation: cursor 0.7s infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
