html {
  margin: 10px 24px 0 24px;
  background: black;
}

p {
  color: green;
  font-family: 'VT323', monospace;
  font-size: 36px;
  line-height: 110%;
}

/*Separator between text and fake prompt.*/
hr {
  border: none;
  border-top: 2px dotted green;
  color: green;
  height: 1px;
  width: 100%;
}

a {
  color: green;
}

a:visited {
  color: green;
  text-decoration: none;
}

a:hover {
  color: green;
  text-decoration: none;
}

a:active {
  color: green;
  text-decoration: none;
}

/*Blinking cursor */
span:after {
  content: '_';
  opacity: 0;
  animation: cursor 0.7s infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
