html {
  min-height: 100%;
  position: relative;
}

body {
  background: lightgray;
  margin-top: 40px;
}

.fa-circle-o-notch {
  color: white;
}

.weather {
  background: grey;
  border: solid 15px white;
  border-radius: 15px;
  box-shadow: 7px 7px 7px rgb(33, 33, 33);
  padding: 5%;
}

h1,
h2 {
  color: lightblue;
}

.temp {
  cursor: pointer;
}

.weathHr {
  color: white;
}

.wi {
  color: white;
  font-size: 1.5em;
  padding-top: 5%;
}

.summary {
  color: #ddcef2;
  font-size: 150%;
  font-style: italic;
}

hr {
  border-width: 2px;
  width: 60%;
}

.footer {
  bottom: 0;
  font-size: 110%;
  padding-top: 5px;
  position: absolute;
  text-align: center;
  width: 100%;
}
