html {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0 0;
}

a {
  text-decoration: none;
}

.navbar {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navs {
  display: flex;
  margin-left: auto;
  padding-right: 3rem;
}

.nav-link {
  color: #fff;
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1.5rem;
}

.nav-link:visited {
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}

.welcome-section {
  background: url("assets/vimSession.png") no-repeat fixed;
  box-sizing: border-box;

  /* transparent layer over  background image */
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.65);
  height: 100vh;
  padding-top: 10vh;
}

.banner {
  margin-top: 30vh;
  text-align: center;
}

.my-name {
  color: #fff;
  font-size: 5rem;
  font-weight: normal;
  margin: 0.75rem;
}

.tagline {
  color: #fff;
  font-size: 2rem;
  font-style: italic;
  font-weight: normal;
}

.profile-flex {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile-link {
  font-size: 3rem;
  margin: 0 2rem;
}

.fa-github {
  color: #fff;
}

.projects {
  background: lightblue;
  box-sizing: border-box;
  height: 100vh;
  padding-top: 10vh;
}

.contact {
  background: lightyellow;
  box-sizing: border-box;
  height: 80vh;
  padding-top: 10vh;
}

.contact-row {
  display: flex;
}

.contact-column {
  flex: 50%;
}

.contact-flex {
  display: flex;
  flex-direction: row;
}

.contact-link .fa-github {
  color: black;
}

.fa-free-code-camp {
  color: #006400;
}

.fa-code {
  color: #ecb613;
}

.fa-twitter {
  color: #00aced;
}

.fa-linkedin-in {
  color: #0077b5;
}

.wakatime {
  width: 50%;
}

figcaption {
  color: #000;
  font-weight: bold;
  text-align: center;
}

figcaption a:visited {
  color: lightblue;
}

/* phone responsiveness */
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  body {
    margin: 0;
  }

  .navs {
    padding-right: 0.5rem;
  }

  .banner {
    margin-top: 20vh;
  }

  .contact-row {
    flex-direction: column;
  }

  .contact-column {
    flex: 100%;
  }

  .wakatime {
    width: 100%;
  }
}
