body {
  background: #56ecfd;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1 {
  /*text-shadow: 2px 2px 2px lightgrey;*/
  background: lightgrey;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(140, 146, 172, .8);
  color: black;
  margin: 0 15%;
  padding: 1%;
}

.contain {
  background: #ffc0eb;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(140, 146, 172, .8);
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 2%;
}

.description {
  font-size: 22px;
  padding-top: 2%;
}

.survey-question {
  margin: 10px;
}

.labels {
  display: inline-block;
  margin-right: 2px;
  text-align: right;
  vertical-align: middle;
  width: 40%;
}

.user-field {
  display: inline-block;
  margin-left: 2px;
  text-align: left;
  width: 40%;
}

@media (max-width: 600px) {
  .labels {
    display: block;
    text-align: center;
    width: 100%;
  }
  .user-field {
    display: block;
    text-align: center;
    width: 100%;
  }
  .contain {
    margin: 1%;
  }
}

textarea {
  border-radius: 5px;
  /*disable user resizing of textarea*/
  resize: none;
}

fieldset {
  border-radius: 5px;
  display: inline-block;
  width: 60%;
}

.input-box {
  border-radius: 5px;
  width: 200px;
}

.dropdown {
  background: #E6FFFB;
  border-radius: 5px;
  width: 200px;
}

.submit-button {
  background: white;
  border-radius: 5px;
  padding: 10px;
}

