html {
  min-height: 100%;
  position: relative;
}

body {
  background: white;
  padding-bottom: 65px;
}

a,
a:active,
a:hover {
  color: #373d3f;
  text-decoration: none;
}

a:visited {
  color: #190080;
  text-decoration: none;
}

.searchBody {
  margin-top: 2%;
}

.logoWiki {
  height: 225px;
}

.logoWiki img {
  height: 100%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.searchWiki {
  background-color: #f9f9f9;
  font-size: 1.4em;
}

.searchButton {
  font-size: 1.4em;
}

.randomButton {
  background: #fafcfe;
  border: 3px solid #cedff2;
  color: #808080;
  font-size: 1.4em;
  margin-top: 2%;
}

.randomButton:hover {
  background: #cedff2;
  border: 3px solid #cedff2;
  color: #808080;
  margin-top: 2%;
}

.boxes:hover {
  box-shadow: 2px 2px 2px rgba(33, 33, 33, 0.5);
}

.articleDescription {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 12px;
}

.noResults {
  background: #fff5fa;
  border: 3px solid #f2cedd;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  margin: 15px;
  padding: 0.5em;
}

.noResults a {
  color: #0b0080;
}

.heading {
  border-bottom: 1px solid #a2a9b1;
  font-family: 'Roboto', sans-serif;
  padding: 0.25em;
}

.extract {
  font-family: 'Noto Sans HK', sans-serif;
  text-align: left;
}

.mainSearchResult {
  background: #f5fffa;
  border: 3px solid #cef2e0;
  border-radius: 5px;
  margin: 15px 0 15px 0;
  padding: 0.5em;
}

.mainSearchResult:hover {
  box-shadow: 2px 2px 2px rgba(33, 33, 33, 0.5);
}

.altResults {
  background: #faf5ff;
  border: solid #ddcef2 2px;
  border-radius: 5px;
  margin: 15px 0 15px 0;
  padding: 0.5em;
}

.altResults:hover {
  box-shadow: 2px 2px 2px rgba(33, 33, 33, 0.5);
}

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footer hr {
  width: 45%;
}

.footer p {
  font-size: large;
  text-align: center;
}

.footer a {
  color: #0b0080;
}
