body {
  background: lightgrey;
  font-size: 14px;
}

#title {
  font-size: 3rem;
  font-family: monospace;
  text-align: center;
  color: darkblue;
  margin: 1rem;
}

#md-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#editor {
  height: 50%;
  width: 60%;
}

#preview {
  width: 60%;
}

img {
  height: 125px;
  width: 125px;
}

blockquote {
  border-left: 3px solid darkgrey;
  padding-left: 5px;
}
