@import url('https://fonts.googleapis.com/css?family=VT323');

body {
  background: black;
  margin: 10em;
}

h2 {
  color: green;
  font-family: 'VT323', monospace;
  line-height: 110%;
}

a {
  color: green;
}

a:visited {
  color: green;
  text-decoration: none;
}

a:hover {
  color: green;
  text-decoration: none;
}

a:active {
  color: green;
  text-decoration: none;
}

/*Separator between text and fake prompt.*/
hr {
  border: none;
  border-top: 2px dotted green;
  color: green;
  height: 1px;
  width: 100%;
}

/*Blinking cursor */
span:after {
  content: '_';
  opacity: 0;
  animation: cursor 0.7s infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#quotelives {
  padding-top: 10px;
}
