$small-layout-breakpoint: 599px;
$medium-layout-breakpoint: 900px;
$quote-font-family: "VT323", sans-serif;

body {
  background-color: tan;
  font-size: 14px;
}

.flex-wrap {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-box {
  background-color: lightblue;
  border-radius: 20px;
  margin: auto;
  width: 30%;
  padding: 3rem;
  position: relative;

  @media (max-width: $medium-layout-breakpoint) {
    width: 75%;
  }
  @media (max-width: $small-layout-breakpoint) {
    width: 90%;
  }

  #text {
    font-family: $quote-font-family;
    font-size: 2rem;
    text-align: center;

    @media (max-width: $medium-layout-breakpoint) {
      font-size: 2rem;
    }
    @media (max-width: $small-layout-breakpoint) {
      font-size: 1.5rem;
    }
  }

  #author {
    font-family: $quote-font-family;
    font-size: 2rem;
    text-align: right;

    @media (max-width: $medium-layout-breakpoint) {
      font-size: 1rem;
    }
    @media (max-width: $small-layout-breakpoint) {
      font-size: 1rem;
    }
  }
}

.button-well {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding-top: 2rem;
}

#tweet-quote {
  cursor: default;
  text-decoration: none;
  color: black;

  &:visited {
    text-decoration: none;
    color: black;
  }
}
