body {
  background-color: #aaa9af;
  font-size: 14px;
  margin: 0;
  padding: 0; }

.flex-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center; }

.content-container::before {
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  background-size: 100% 2px, 3px 100%;
  bottom: 0;
  content: " ";
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2; }

.content-container {
  background-color: #272324;
  border-radius: 20px;
  color: #f0fff8;
  font-family: "VT323", monospace;
  font-size: 2.5rem;
  height: 450px;
  line-height: 110%;
  margin: auto;
  overflow: auto;
  padding: 2rem;
  position: relative;
  text-align: left;
  text-shadow: 0 0 3px #0f0, 0 0 10px #00b800, 0 0 20px #00b800, 0 0 30px #00b800;
  width: 600px; }
  @media (max-width: 900px) {
    .content-container {
      font-size: 2rem;
      height: 50vh;
      width: 78vw; } }
.button-well {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 2rem;
  width: 100%; }

button {
  background: #eee;
  border: 1px solid gray;
  border-radius: 3px;
  box-shadow: 1px 0 1px 0 #eee, 0 2px 0 2px #ccc, 0 2px 0 3px #444;
  font-family: monospace;
  font-size: 1.2rem;
  padding: 10px 10px; }
  @media (max-width: 900px) {
    button {
      font-size: 1rem; } }
button:active {
  box-shadow: 1px 0 1px 0 #eee, 0 1px 0 1px #999, 0 1px 0 2px #444;
  transform: translateY(2px); }

#tweet-quote button {
  color: #38a1f3; }
