$small-layout-breakpoint: 599px;
$medium-layout-breakpoint: 900px;

body {
  background-color: tan;
  font-size: 14px;
}

.flex-wrap {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-box {
  background-color: lightblue;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 1rem;

  @media (max-width: $medium-layout-breakpoint) {
    width: 75%;
  }
  @media (max-width: $small-layout-breakpoint) {
    width: 90%;
  }

  #text {
    font-family: "VT323", sans-serif;
    font-size: 3rem;

    @media (max-width: $medium-layout-breakpoint) {
      font-size: 2rem;
    }
    @media (max-width: $small-layout-breakpoint) {
      font-size: 1.5rem;
    }
  }

  #author {
    font-family: "VT323", sans-serif;
    font-size: 2rem;

    @media (max-width: $medium-layout-breakpoint) {
      font-size: 1rem;
    }
    @media (max-width: $small-layout-breakpoint) {
      font-size: 1rem;
    }
  }
}
