$small-layout-breakpoint: 599px;
$medium-layout-breakpoint: 900px;
$quote-font-family: "VT323", monospace;

body {
  background-color: #e4d8b4;
  font-size: 14px;
}

// project requirements call for #quote-box to be horizonatally centered
.flex-wrap {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  background-color: #272324;
  color: #00B800;
  // give the text that CRT glow
  text-shadow: 0 0 3px #00B800;
  border-radius: 20px;
  margin: auto;
  padding: 2rem;
  position: relative;
  overflow: auto;

  // keeping that 4:3 ratio ;)
  height: 450px;
  width: 600px;

  @media (max-width: $medium-layout-breakpoint) {
    // keeping to legibility here
    height: 50vh;
    width: 80vw;
  }

  #text {
    font-family: $quote-font-family;
    font-size: 2.5rem;
    text-align: left;

    @media (max-width: $small-layout-breakpoint) {
      font-size: 2rem;
    }
  }

  #author {
    font-family: $quote-font-family;
    font-size: 2rem;
    text-align: right;

    @media (max-width: $medium-layout-breakpoint) {
      font-size: 1.5rem;
    }
  }
}

.button-well {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding-top: 2rem;
}

button {
  background: #eee;
  border:1px solid gray;
  font-size:1.2rem;
  box-shadow:1px 0 1px 0 #eee, 0 2px 0 2px #ccc, 0 2px 0 3px #444;
  border-radius:3px;
  padding:10px 10px;
  font-family: monospace;

  @media (max-width: $medium-layout-breakpoint) {
    font-size: 1rem;
  }
}

#tweet-quote {
  cursor: default;
  text-decoration: none;

  button {
    background-color: #38a1f3;
    color: #000;

    &:visited {
      text-decoration: none;
      color: #38a1f3;
    }
  }
}
