body {
  font-family: sans-serif;
  font-size: 20px;
  margin: 5% 5%;
}

header {
  font-size: 28px;
}

p {
  margin-left: 1em;
}

code {
  font-size: 18px;
}

.keystroke {
  background-color: #F8F8F8;
  color: #000080;
  padding: 6px 6px 6px;
}

li {
  list-style: none;
}
