body {
  font-family: sans-serif;
  font-size: 20px;
  margin: 5% 20% 5%;
}

header {
  font-size: 26px;
}

code {
  background-color: lightgrey;
  font-size: 18px;
}

pre {
  background-color: lightgrey;
}

li {
  list-style: none;
}
