body {
  font-family: sans-serif;
  font-size: 20px;
  margin: 2% 5%;
}

.navbar {
  background-color: #f8f8f8;
  height: 100%;
  margin: 0;
  overflow: auto;
  padding: 15px;
  position: fixed;
  width: 300px;
}

.nav-header {
  color: #7acb17;
  font-size: 2em;
  font-weight: 700;
  padding-bottom: .25em;
  text-shadow: -2px 2px 1px #bfe394;
}

.nav-link {
  color: #bfe394;
  display: block;
  font-weight: 700;
  padding: .5em;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #bfe394;
  color: #fff;
}

.main-doc {
  /*set margin-left to width of navbar to account for navigation*/
  margin-left: 330px;
  padding: 1px 12px;
}

.main-doc header {
  font-size: 28px;
}

.main-doc p {
  line-height: 1.4em;
  margin-left: 1em;
}

.main-doc code {
  font-size: 18px;
}

.keystroke {
  background-color: #F8F8F8;
  color: #000080;
  padding: 6px 6px 6px;
}

.main-doc > li {
  list-style: none;
}

/*phone responsiveness*/
@media (max-width: 415px) {
  body {
    margin: 0;
  }
  .navbar {
    height: 300px;
    position: fixed;
    width: auto;
  }
  .main-doc {
    padding-top: 340px;
    margin-left: 0;
  }
}
