/*some cool colors for this site!
.temp {
  color: #82E6C2, #F2BCE0, #688FF4, #05C8F6, #03E9F8;
}
*/


body {
  background: #05C8F6;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.title {
  background: #82E6C2;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(140, 146, 172, .8);
  color: #688FF4;
  margin: 0 20%;
  padding: 1%;
  /* TODO: make it look better */
  /*text-shadow: -1px 1px rgba(255, 255, 255, .8);*/
}

.contain {
  background: #F2BCE0;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(140, 146, 172, .8);
  margin: 0 20%;
  padding-bottom: 2%;
}

.description {
  font-size: 22px;
  padding-top: 2%;
}

.survey-question {
  margin: 3%;
}

.labels {
  display: inline-flex;
  justify-content: flex-end;
  vertical-align: middle;
  width: 30%;
}

.user-field {
  display: inline-flex;
  justify-content: flex-start;
  width: 30%;
}

/*TODO: change max-width: 500px;*/
@media (max-width: 500px) {
  .title {
    margin: 0;
  }
  .contain {
    margin: 0.5%;
  }
  .labels {
    display: block;
    text-align: center;
    width: 100%;
  }
  .user-field {
    display: block;
    text-align: center;
    width: 100%;
  }
}

textarea {
  border-radius: 5px;
  /*disable user resizing of textarea*/
  resize: none;
}

fieldset {
  border-color: #82E6C2;
  border-radius: 5px;
  display: inline-flex;
  width: 40%;
}

.radio-contain {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: left;
}

.input-item {
  margin: 5px;
}

.radio-styled {
  opacity: 0;
  position: absolute;
}

.radio-styled + label {
  cursor: pointer;
  padding: 0;
  position: relative;
}

.radio-styled + label::before {
  background: #82E6C2;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  vertical-align: text-top;
  width: 20px;
}

.radio-styled:hover + label::before {
  background: #05C8F6;
  transition: background-color 0.3s linear;
}

.radio-styled:checked + label::before {
  background: #688FF4;
}

.radio-styled:checked + label::after {
  background: #FFF;
  border-radius: 50%;
  content: '';
  height: 10px;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 10px;
}

.checkbox-styled {
  opacity: 0;
  position: absolute;
}

.checkbox-styled + label {
  cursor: pointer;
  padding: 0;
  position: relative;
}

.checkbox-styled + label::before {
  background: #82E6C2;
  content: '';
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  vertical-align: text-top;
  width: 20px;
}

.checkbox-styled:hover + label::before {
  background: #05C8F6;
  transition: background-color 0.3s linear;
}

.checkbox-styled:checked + label::before {
  background: #688FF4;
}

.checkbox-styled:checked + label::after {
  background: #FFF;
  box-shadow: 2px 0 0 #FFF, 4px 0 0 #FFF, 4px -2px 0 #FFF, 4px -4px 0 #FFF,
  4px -6px 0 #FFF, 4px -8px 0 #FFF;
  content: '';
  height: 2px;
  left: 5px;
  position: absolute;
  top: 9px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 2px;
}

.input-box {
  border-radius: 5px;
  width: 200px;
}

.dropdown {
  background: #E6FFFB;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  width: 200px;
  /*-webkit-appearance: none;*/
}

.submit-button {
  background: #82E6C2;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
}

