body {
  margin: 0;
}

.header-flex {
  align-items: center;
  background: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 415px) {
  .header-flex {
    flex-direction: column;
  }
}

.product-id {
  display: inline-flex;
  margin: 10px;
}

.product-id p {
  font-size: 22px;
  padding-left: 5px;
}

.header-img {
  height: 64px;
  width: 64px;
}

.navs {
  display: flex;
  /* fix to clear padding put in by ul default*/
  padding-left: 0;
}

.nav-link {
  color: #000;
  display: block;
  padding: 20px;
  text-decoration: none;
}

.nav-link:hover {
  background: lightblue;
}

.navs li {
  list-style: none;
}

.title {
  text-align: center;
}

.features {
  text-align: center;
}

.features > ul {
  text-decoration: none;
}

.demo {
  display: flex;
}

.video {
  border: unset;
  margin: 0 auto;
}

.form {
  text-align: center;
}
