.header-flex {
  align-items: center;
  background: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
}

body {
  font-family: sans;
  margin: 0;
  padding-bottom: 30px;
  padding-top: 80px;
}


.product-id {
  display: inline-flex;
  margin: 10px;
}

.product-id p {
  font-size: 22px;
  padding-left: 5px;
}

.header-img {
  height: 64px;
  width: 64px;
}

.navs {
  display: flex;
}

ul {
  /* fix to clear padding put in by ul default*/
  padding-left: 0;
}

.nav-link {
  border-radius: 10px;
  color: #000;
  display: block;
  padding: 20px;
  text-decoration: none;
}

.nav-link:hover {
  background: lightblue;
}

li {
  list-style: none;
}

.title {
  text-align: center;
}

.features {
  margin: auto;
  max-width: 70%;
  text-align: left;
}

.copy-features {
  font-family: sans;
}

.features > ul {
  text-decoration: none;
}

.demo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 480px;
  width: 80%;
}

.video-container {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 20px;
  position: relative;
}

.video-conatiner iframe {
  left: 0;
  position: absolute;
  top: 0;
}

iframe {
  /*to maintain 16:9, divide width by .5625*/
  height: 270px;
  width: 480px;
}

.pricing {
  margin: auto;
  max-width: 70%;
  text-align: left;
}

.form {
  text-align: center;
}

.form-item {
  margin: 10px;
}

.form-item label {
  font-size: 24px;
}

.email {
  border-color: darkgrey;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  font: 16px "sans-serif";
  height: 28px;
  text-align: center;
  width: 320px;
}

.submit-button {
  background-color: pink;
  border-color: darkgrey;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font: 16px "sans-serif";
  height: 28px;
}

/*tablet rsponiveness*/
@media (max-width: 800px) {
  body {
    padding-bottom: 20px;
    padding-top: 110px;
  }
  .nav-link {
    padding: 10px;
  }
}

/*phone responsiveness*/
@media (max-width: 415px) {
  .header-flex {
    flex-direction: column;
  }
  body {
    padding-top: 170px;
  }
  .features {
    margin: auto;
    min-width: 90%;
  }
  .pricing {
    margin: auto;
    min-width: 90%;
  }
  .demo {
    width: 100vh;
  }
}
